<div class="card">
  <div class="card-header">Table is just a mapping of objects to table rows with</div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products; index as i">
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.description }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
